@import 'mixins';
@import 'reset';
@import 'vars';
@import 'animations';
@import 'vue-svgicon';

html,
body {
  height: 100%;
  width: 100%;
}

$min_width: 320px;
$max_width: $extraLarge;
$min_font: 12.6px;
$max_font: 18px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  overflow-x: hidden;
  @include hide-scrollbar;
}

.formulate-input {
  .formulate-input-wrapper {
    .formulate-input-element {
      max-width: initial;
    }
  }
}