@import 'mixins';
@import 'reset';
@import 'vars';
@import 'vue-svgicon';

html,
body {
  height: 100%;
  width: 100%;
}

$min_width: 320px;
$max_width: $extraLarge;
$min_font: 7px;
$max_font: 10px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  overflow-x: hidden;
  @include hide-scrollbar;
}