@font-face {
  font-family: 'TT Commons';
  font-weight: 700;
  src: url('~@/assets/fonts/tt-commons/TTCommons-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 600;
  src: url('~@/assets/fonts/tt-commons/TTCommons-DemiBold.woff') format('woff');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 500;
  src: url('~@/assets/fonts/tt-commons/TTCommons-Medium.woff') format('woff');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 400;
  src: url('~@/assets/fonts/tt-commons/TTCommons-Regular.woff') format('woff');
}

@font-face {
  font-family:"Orpheus Pro";
  font-weight: 700;
  src: url('~@/assets/fonts/orpheus-pro/OrpheusPro-Bold.woff') format('woff');
}

@font-face {
  font-family:"Orpheus Pro";
  font-weight: 500;
  src: url('~@/assets/fonts/orpheus-pro/OrpheusPro-Medium.woff') format('woff');
}

@font-face {
  font-family:"Orpheus Pro";
  font-weight: 400;
  src: url('~@/assets/fonts/orpheus-pro/OrpheusPro-Regular.woff') format('woff');
}

@font-face {
  font-family:"Garamond Premier Pro Display";
  font-weight: 300;
  font-style: italic;
  src: url('~@/assets/fonts/garamond-premier/GaramondPremierProDisplay-Light-Italic.woff') format('woff');
}

@font-face {
  font-family:"Garamond Premier Pro Display";
  font-weight: 500;
  src: url('~@/assets/fonts/garamond-premier/GaramondPremierProDisplay-Medium.woff') format('woff');
}