@font-face {
  font-family: 'TT Commons';
  font-weight: 400;
  src: url('~@/assets/fonts/tt-commons/TTCommons-Regular.woff') format('woff');
}

@font-face {
  font-family:"Orpheus Pro";
  font-weight:700;
  src: url('~@/assets/fonts/orpheus-pro/OrpheusPro-Bold.woff') format('woff');
}

@font-face {
  font-family:"Garamond Premier Pro Display";
  font-weight: 300;
  src: url('~@/assets/fonts/garamond-premier/GaramondPremierProDisplay-Light.otf') format('otf');
}