h1 {
  font-family: "Orpheus Pro", serif;
  font-weight: 700;
  font-size: 12.7rem;
  letter-spacing: 0.029em;
  line-height: 2em;
}

h2 {
  font-family: "Orpheus Pro", serif;
  font-weight: 700;
  font-size: 4.8rem;
  letter-spacing: 0.029em;
}

h3 {
  font-family: "Orpheus Pro", serif;
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: 0.29em;
}

h1,
h2,
h3 {
  color: #f3f3f3
}